/* NavBar */
.navbar-default{
 background:#fff;
 border:0;
}
.navbar-brand{
 font-size:20px;
 color:#000;
 font-weight:bold;
}
/* Hamburger */
.navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle:focus {
  outline: none;
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
}
/* Hover */
.icon-bar:nth-child(2) {
  width: 22px;
  transition: ease-out all .25s;
}
.navbar-toggle:hover>.icon-bar:nth-child(2) {
  width: 0px;
  transition: ease-out all .25s;
}
/* Bar animation when clicked */
.navbar-toggle:not(.collapsed) .icon-bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 4px);
  transition: ease-out all .25s;
}
.navbar-toggle:not(.collapsed) .icon-bar:nth-child(2) {
  opacity: 0;
  transition: ease-out all .25s;
}
.navbar-toggle:not(.collapsed) .icon-bar:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -4px);
  transition: ease-out all .25s;
}

.navbar-toggle .icon-bar {
  background-color: #fff;
  transform: rotate(0deg) translate(0px, 0px);
  transition: ease-out all .25s;
}
