* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  margin-top:70px;
  font-size:16px;
  font-family: 'Lato', sans-serif;
}
h1,h2,h3,h4,h5,h6{
 font-weight:700;
}
p{
 font-size: 14px;
 padding: 5px;
 font-weight: normal;
 color: #B0B0B0;
}
html {
  scroll-behavior: smooth;
}

/* Logo */
#logo{
  padding-top: 50px;
  background: url(../img/logo.png) center / contain no-repeat;
  width: 35px;
  height: 35px;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

/* Section General */
#showcase {
 text-align: center;
 background-color: #fff;
}

/* Padding */
.top-pad{
  padding-top: 5em;
}

.bot-pad{
  padding-bottom: 5em;
}

.bot-pad-half{
  padding-bottom: 1.5em;
}

#s1 img{
  height:auto;
  max-width: 90%;
}
/* Section 2 */
#s2 img{
  height: auto;
  max-height:50px;
}
/* Section 3 */
#s3 img{
  max-width:100%;
}
/* Section 4 */
#s4{
  margin-top: 80px;
}
#s4 span{
  overflow:hidden; /*hide bounds of image */
  margin:0;
}
#s4 img{
  max-width:100%;
}
.m_width_70{
  max-width: 70%
}
/* Final Section */
button[type="submit"]{
  border-radius: 50px;
  background-color: #ED6B74;
  color:#fff;
  border-color: #fff;

  border-width: medium;
  border-style: solid;
  outline: 0;
  height: 20%;
  width: 40%;
  max-width: 170px;
  min-width: 140px;
  transition: ease-out all .25s;
}
button[type="submit"]:hover{
  background-color: #fff;
  color: #ED6B74;
  border-color: #ED6B74;
}
button[type="submit"]:active{
  background-color: #ED6B74;
  color: #fff;
  border-color: #fff;
}
#final-section-background{
   background-image: url('../img/final.jpg');
   height: 580px;
   width: 100%;
   background-color: #FFF;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

#final-section-button{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

button.learn-more {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;

  width: 15rem;
  height: auto;

}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #fff;
  border-radius: 1.625rem;
}
button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
/* Arrow */
button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
/* Line */
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: '';
  top: -0.23rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #282936;
  border-right: 0.125rem solid #282936;
  transform: rotate(45deg);
}
button.learn-more p{
  font-size: 10px;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0.15rem 0 0 1.85rem;
  color: #fff;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #282936;
  transform: translate(1rem, 0);
}
button:hover p {
  color: #282936;
}

footer{
 padding:30px;
}

@media screen and (max-width: 529px){
  #s1{
    background-size: 100%;
  }
}
@media (max-width: 576px) {}
@media screen and (max-width: 768px){
  #s4 img{
    display:block;
    width:100%;
    margin:-60% 0;
  }
  #s4 p{
    display: none;
  }
  #s4 h2{
    display: none;
  }
}
@media (max-width: 992px) {}
@media (max-width: 1200px) {}
@media screen and (orientation: portrait) {}
@media screen and (orientation: landscape) {}
