* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  margin-top:70px;
  font-size:16px;
  font-family: 'Lato', sans-serif;
}
h1,h2,h3,h4,h5,h6{
 font-weight:700;
}
p{
 font-size: 14px;
 padding: 5px;
 font-weight: 400;
 font-weight: normal;
 color: #B0B0B0;
}
.center_img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* NavBar */
.navbar-default{
 background:#fff;
 border:0;
}
.navbar-brand{
 font-size:20px;
 color:#000;
 font-weight:bold;
}
/* Hamburger */
.navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle:focus {
  outline: none;
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
}
/* hover */
.icon-bar:nth-child(2) {
  width: 22px;
  transition: ease all .15s;
}
.navbar-toggle:hover>.icon-bar:nth-child(2) {
  width: 0px;
  transition: ease all .15s;
}
/* bar animation when clicked */
.navbar-toggle:not(.collapsed) .icon-bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 4px);
  transition: ease all .15s;
}
.navbar-toggle:not(.collapsed) .icon-bar:nth-child(2) {
  opacity: 0;
  transition: ease all .15s;
}
.navbar-toggle:not(.collapsed) .icon-bar:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -4px);
  transition: ease all .15s;
}
/* return anim */
.navbar-toggle .icon-bar {
  background-color: #fff;
  transform: rotate(0deg) translate(0px, 0px);
  transition: ease all .2s;
}
/* Section General */
#showcase {
 text-align: center;
 background-color: #fff;
}
/* Padding */
.top-pad{
  padding-top: 5em;
}

.bot_pad{
  padding-bottom: 5em;
}

.bot_pad_half{
  padding-bottom: 1.5em;
}
/* Section 1 */
#s1{
  background-position: center;
  /* background-size:cover; */
  background-repeat:no-repeat;
  background-image: url("../img/s1.jpg");
  height: 624px;
  width: 529px;
  max-height: 624px;
  max-width: 529px;
  margin: 0 auto;
}
#s1 img{
  height:auto;
  max-width: 90%;
}
/* Section 2 */
#s2 img{
  height: auto;
  /* max-width:100%; */
  max-height:50px;
}
/* Section 3 */
#s3 img{
  max-width:100%;
}
/* Section 4 */
#s4 span{
  overflow:hidden; /*hide bounds of image */
  margin:0;
}
#s4 img{
  max-width:100%;
}
.m_width_70{
  max-width: 70%
}
/* Final Section */
.background_image{
  background-color: #FFF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
button[type="submit"]{
  border-radius: 50px;
  background-color: #ED6B74;
  color:#fff;
  border-color: #fff;

  border-width: medium;
  border-style: solid;
  outline: 0;
  height: 20%;
  width: 40%;
  transition: all 0.3s ease-out;
}
button[type="submit"]:hover{
  background-color: #fff;
  color: #ED6B74;
  border-color: #ED6B74;
}
button[type="submit"]:active{
  background-color: #ED6B74;
  color: #fff;
  border-color: #fff;
}
#final_section{
   background-image: url('../img/final.jpg');
   /* background-attachment: fixed; */
   height: 580px;
}
#final_section img{
  width: 100%;
}

#final_div{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* Logo */
#logo{
  padding-top: 50px;
  background: url(../img/logo.png) center / contain no-repeat;
  width: 35px;
  height: 35px;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

footer{
 padding:30px;
}
/* Desktop First */
/* Extra small devices (portrait phones, less than 576px) */
/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {}
/* Medium devices (tablets, 768px and down) */
@media (max-width: 768px) {
  .s4 img{
    display:block; /*remove inline-block spaces*/
    width:100%; /*make image streatch*/
    margin:-60% 0;
  }

  .s4 p{
    display: none;
  }
  .s4 h2{
    display: none;
  }
}
